@import "../../styling/mixins";

.container {
  @include pageContainer;
}

.subContainer {
  @include pageSubContainer;
}

.title {
  @include pageTitle;
}

.text {
  text-shadow: 0 0 3px lightgrey;
}

.greenButton {
  width: 30%;
  border: 1px solid rgb(0, 83, 73);
  border-radius: 40px;
  background-color: rgb(0, 83, 73);
  color: white;
  padding: 10px;
  margin: 20px 0;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-weight: lighter;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.bottomContainer {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 30%;
  height: 100px;
  font-size: 10px;
}

.icon {
  color: rgb(0, 83, 73);
  font-size: 50px;
  margin-right: 20px;
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
